.FOFO{
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset -5px -5px rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    height: 17rem;
    width: 100%;
    max-width: 370px;
 display: flex;
 flex-direction: column;
align-items: center;
}

.FORGOT{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#ESS{
    height: 2rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.FOR h1{
    font-size: 1.6em;
    color: white;
}


#back2{
    margin-left: 120px;
    background-color: rgb(0, 140, 255);
}


#back2{
    margin-top: 10px;
    height: 2rem;
    width: 5rem;
    text-align: left;
    border: none;
    cursor: pointer;
   
}

#back1{
    margin-top: 10px;
    height: 2rem;
    width: 5rem;
    text-align: right;
    border: none;
    cursor: pointer;
}

.HII{
    font-size: 0.8em;
}

#mail{
    position: relative;
    top: 30px;
    left: 20px;
}


.JOJO{
    display: flex;
    margin-top: 20px;

}

.JOJO span{
    margin-left: 10px;
}

#RR{
    color: white;
    position: relative;
right: 20px;
top: 3px;
}

#LL{
    color: rgb(20, 20, 20);
    position: relative;
    left: 20px;
    top: 3px;
}






/*-------*/


.Ccreations{
    background-color: white;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Pcreations{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.names{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.Emai,.Us,.pas,.RE{
    margin-top: 20px;
}


.bibi h1 {
    position: relative;
    right: 120px;
}

.bibi p{
    position: relative;
    right: 120px;
}

#lastname,#firstname,#selecta{
    height: 30px;
    width: 100%;
    max-width: 250px;
}

#selecta,#Emails,#Users,#Pass,#retype{
    width: 100%;
    max-width: 400px;
    height: 30px;
}

.bibi p{
    color: black;
}


.CHECKS{
    margin-top: 15px;
}

.ONE{
    margin-top: 10px;
}

.BTN1{
    margin-top: 20px;
}


.BTN1 button{
    height: 2rem;
    width: 5rem;
    border: none;
    cursor: pointer;
    
}
#BBS{
    margin-left: 300px;
}

#BBS button{
    background-color: rgb(0, 119, 255);
   border: none;


}

@media screen and (max-width:600px) {
    

    .bibi h1 {
        position: relative;
        right: 0px;
    }
    
    .bibi p{
        position: relative;
        right: 0px;
    }


    .names{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

    #selecta,#Emails,#Users,#Pass,#retype{
        width: 100%;
        max-width: 250px;
        height: 30px;
 
    }

    .selects,.names,.Emai,.Us,.RE,.pas,.CHECKS,.BTN1{
        text-align: center;
    }
    

    #BBS{
        margin-left: 0px;
    }
    

}